openapi: 3.0.0
info:
  title: Cucumber Reports API
  description: API for publishing test reports from Cucumber
  version: 1.0.0
  contact:
    name: Cucumber Reports
    url: https://reports.cucumber.io
servers:
  - url: https://messages.cucumber.io/api
    description: Default server

paths:
  /reports:
    get:
      summary: Generate a new report
      description: |
        Creates a new report and returns a pre-signed URL for uploading the report data.
        The report will be publicly accessible via the returned report URL.
      operationId: createReport
      responses:
        '202':
          description: |
            Report created successfully. The `Location` header contains a pre-signed URL for
            uploading the report data. The body is either a `text/plain` banner with the
            report URL embedded, or a JSON object with `banner`, `id` and `url` fields,
            depending on the `Accept` header.
          headers:
            Location:
              schema:
                type: string
                format: uri
                example: https://storage.example.com/reports/abc123?signature=xyz
              description: Pre-signed URL for uploading the report data via a PUT request
          content:
            text/plain:
              example: |
                ┌───────────────────────────────────────────┐
                │ View your Cucumber Report at:             │
                │ https://reports.cucumber.io/report/abc123 │
                │                                           │
                │ This report will self-destruct in 24h.    │
                └───────────────────────────────────────────┘
            application/json:
              schema:
                type: object
                required: [banner, id, url]
                properties:
                  banner:
                    type: string
                    description: |
                      The same banner served by the `text/plain` variant, including ANSI
                      style codes, suitable for printing directly to a terminal.
                  url:
                    type: string
                    format: uri
                    description: The URL at which the report will be viewable.
              example:
                banner: "┌───────────────────────────────────────────┐│ View your Cucumber Report at:             ││ https://reports.cucumber.io/report/abc123 ││                                           ││ This report will self-destruct in 24h.    │└───────────────────────────────────────────┘"
                id: f5dd0aa8-95e0-4b74-9a91-000516df94ff
                url: https://reports.cucumber.io/reports/f5dd0aa8-95e0-4b74-9a91-000516df94ff
        '400':
          description: |
            Private reports are no longer supported. The request included an Authorization header.
            The body is either the `text/plain` banner explaining this, or a JSON object with a
            single `banner` field, depending on the `Accept` header.
          content:
            text/plain:
              example: |
                ┌──────────────────────────────────────────────────┐
                │ Private reports are no longer supported.         │
                │ You can still publish anonymous (public) reports │
                │ by removing the token from your configuration.   │
                └──────────────────────────────────────────────────┘
            application/json:
              schema:
                type: object
                required: [banner]
                properties:
                  banner:
                    type: string
                    description: |
                      The same banner served by the `text/plain` variant, including ANSI
                      style codes, suitable for printing directly to a terminal.
      security: []
      deprecated: false
