openapi: 3.0.0
info:
  title: Cucumber Reports API
  description: API for publishing test reports from Cucumber
  version: 1.0.0
  contact:
    name: Cucumber Reports
    url: https://reports.cucumber.io
servers:
  - url: https://messages.cucumber.io/api
    description: Default server

paths:
  /reports:
    get:
      summary: Generate a new report
      description: |
        Creates a new report and returns a pre-signed URL for uploading the report data.
        The report will be publicly accessible via the returned report URL.
      operationId: createReport
      responses:
        '202':
          description: |
            Report created successfully. The response body contains a banner with the report URL,
            and the Location header contains a pre-signed URL for uploading the report data.
          headers:
            Location:
              schema:
                type: string
                format: uri
                example: https://storage.example.com/reports/abc123?signature=xyz
              description: Pre-signed URL for uploading the report data via a PUT request
          content:
            text/plain:
              example: |
                ┌───────────────────────────────────────────┐
                │ View your Cucumber Report at:             │
                │ https://reports.cucumber.io/report/abc123 │
                │                                           │
                │ This report will self-destruct in 24h.    │
                └───────────────────────────────────────────┘
        '400':
          description: |
            Private reports are no longer supported. The request included an Authorization header.
          content:
            text/plain:
              example: |
                ┌──────────────────────────────────────────────────┐
                │ Private reports are no longer supported.         │
                │ You can still publish anonymous (public) reports │
                │ by removing the token from your configuration.   │
                └──────────────────────────────────────────────────┘
      security: []
      deprecated: false